<div
  class="relative box-border rounded-lg
    border-4 border-transparent
    h-96 w-80
    group
    transform-gpu
    hover:border-[var(--button-primary-bg)]
    hover:scale-105
    hover:bg-gradient-to-r hover:cursor-pointer
    transition-transform duration-300 ease-out
  "
>
  <div [ngStyle]="{'background-image': 'url(' + cardDto.backgroundImage + ')'}"
       class="w-full h-60 bg-center bg-cover">
  </div>

  <div *ngIf="cardDto.rank != undefined || cardDto.rank != null"
    class="absolute bottom-3 left-3 text-8xl text-button-primary-bg font-bold"
  >
    <p class="opacity-0 group-hover:opacity-100 transition-opacity duration-300">
      {{ cardDto.rank }}
    </p>
  </div>
</div>
