<div
  class="h-full transition-all duration-200 ease-in-out"
  [ngClass]="
    isSidebarOpen
      ? 'w-64 bg-bg-container shadow-md border-r-2 border-button-primary-bg overflow-visible'
      : 'w-0 bg-transparent shadow-none border-transparent overflow-hidden'
  "
>
  <ul class="w-full py-2">
    <li
      *ngFor="let singleMenu of menus"
      class="ml-3 mr-3 mb-3 px-2 py-2 rounded-lg bg-gray-700 hover:scale-105 hover:bg-button-primary-hover transform-all duration-100 ease-in-out"
    >
      <a [routerLink]="singleMenu.url" class="flex gap-1 items-center">
        <span class="material-symbols-outlined text-3xl font-thin text-white">
          {{ singleMenu.icon }}
        </span>
        <span class="text-text-primary font-light line-clamp-1">{{
            singleMenu.title
          }}</span>
      </a>
    </li>
  </ul>
</div>
