<section
  class="relative w-full h-[500px] bg-cover bg-center text-white flex items-center px-10"
  [ngStyle]="{ 'background-image': 'url(' + backgroundUrl + ')' }"
>
  <div class="absolute inset-0 bg-gradient-to-r from-black to-transparent opacity-80"></div>
  <div class="w-full p-40">
    <div class="flex justify-between w-full relative z-10 ">
      <div>
        <img [src]="logoUrl" alt="Logo here" class="w-[300px] mb-4"/>
        <button
          class="mt-4 px-8 py-3 flex items-center gap-2 text-sm bg-white text-black rounded hover:bg-gray-200 transition"
        >
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24">
            <path d="M8 5v14l11-7z"/>
          </svg>
          Watch Now
        </button>
      </div>
      <div class="justify-end max-w-2xl">
        <p class="text-l text-right text leading-relaxed text-gray-200">
          {{ description }}
        </p>
        <div class="flex justify-end py-5 gap-2 text-gray-400 text-sm">
          <span>{{ year }}</span>
          <span *ngFor="let genre of genres"
                class="bg-gray-700 text-white px-2 py-0.5 rounded text-xs">{{ genre }}</span>
        </div>
      </div>

    </div>
  </div>
  <div
    class="absolute bottom-0 left-0 right-0 h-24 bg-gradient-to-t from-black via-black/50 to-transparent pointer-events-none"></div>
</section>
