<nav class="navbar flex items-center justify-between bg-bg-container text-white px-52 py-4 shadow-md flex-wrap gap-4">
  <div class="logo text-2xl font-bold text-white">
    <span>eManga</span>
  </div>

  <ul class="flex gap-10 items-center justify-center bg-gray-700 rounded-md py-2 px-4">
    <!-- Home Button -->
    <li>
      <a routerLink="/" routerLinkActive="text-blue-400 font-semibold">
        <button class="flex items-center gap-1 bg-button-primary-hover text-text-primary px-4 py-2 rounded-md">
          <span class="material-icons">home</span> Home
        </button>
      </a>
    </li>

    <!-- Browse Button -->
    <li>
      <a routerLink="/browse" class="flex items-center gap-2">
        <button class="flex items-center gap-1">
          <span class="material-icons">travel_explore</span> Browse
        </button>
      </a>
    </li>
  </ul>

  <div class="search-bar flex items-center gap-3">
    <button class="bg-bg-main py-3 px-10 rounded-md flex items-center gap-2 border border-gray-500">
      <span class="material-icons">search</span>Search
    </button>
  </div>

  <div class="actions flex gap-7">
    <button class="flex items-center p-3 px-5 bg-bg-main rounded-md text-button-primary-bg font-bold ">Register</button>
    <button class="flex items-center p-3 px-5 gap-2 bg-button-primary-bg rounded-md text-text-primary font-bold ">
      <span class="material-icons">input</span> Sign In
    </button>
  </div>
</nav>
